.welcome {
    background: lightgoldenrodyellow;
    height: 30px;
    line-height: 30px;
  }
  .brand1 {
    height: 190px;
  }
  .brand {
    width: 196px;
    box-sizing: border-box;
    float: left;
    p {
      width: 186px;
      height: 25px;
      line-height: 25px;
      background: #999;
      color: white;
      padding-left: 10px;
      border-radius: 10px;
    }
    a {
      padding-left: 10px;
      display: block;
      text-decoration: none;
      padding-top: 5px;
      width: 196px;
    }
  }
  .box {
    width: 783px;
    background: gray;
    float: right;
    ul {
      height: 25px;
      background: #ebebeb;
    }
    li {
      height: 25px;
      list-style-type: none;
      float: left;
      line-height: 25px;
      text-align: center;
      width: 100px;
      box-sizing: border-box;
    }
    & > p {
      background: white;
      padding: 10px;
    }
  }
  li {
    &.active {
      background: #f67b06;
      color: white;
    }
  }
  #box1 {
    p {
      min-height: 50px;
      clear: both;
      display: none;
      background: #fdf9f0;
    }
    .active {
      display: block;
    }
  }
  /* #box1 p:nth-child(1) {
      background: blueviolet
  }
   #box1 p:nth-child(2) {
      background: green
  }
   #box1 p:nth-child(3) {
      background: blue
  }
  #box1 p:nth-child(4) {
      background: red
  } */
  .hy,.hyy {
    color: red;
  }
  em {
    font-style: normal;
  }
  