* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    color: #666;
  }
  img {
    display: block;
  }
  html,body {
    width: 100%;
  }
  .wrapperr {
    width: 980px;
    margin: 0 auto;
  }
  /*头部top*/
  .wrapper {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    background: #e6e6e6;
  }
  .top {
    height: 29px;
    line-height: 29px;
  }
  .top-l {
    float: left;
    a {
      text-decoration: none;
      color: red;
      &:hover {
        color: orange;
      }
    }
  }
  .top-r {
    float: right;
    a {
      margin-right: 28px;
      text-decoration: none;
      color: black;
      background: url("../static/images/xsj_03.jpg") no-repeat left center;
      padding-left: 10px;
    }
  }
  /*top image search*/
  .top-img {
    margin-top: 2px;
    overflow: hidden;
  }
  .top-imgl {
    width: 242px;
    float: left;
  }
  .top-imgr {
    width: 424px;
    height: 32px;
    border: 3px solid #fe6b1d;
    position: absolute;
    float: left;
    margin: 15px 0 5px 300px;
    background: url("../static/images/search_03.jpg") no-repeat left center;
    input {
      &:nth-child(1) {
        position: absolute;
        left: 30px;
        width: 317px;
        height: 30px;
        border: none;
        outline: none;
      }
    }
  }
  #btn {
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    background: #fe6b1d;
    height: 32px;
    width: 72px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
  }
  .ss {
    height: 16px;
    display: inline-block;
    margin: 60px 0 0 59px;
    a {
      text-decoration: none;
      margin-right: 10px;
      &:nth-of-type(1) {
        color: rgb(253, 135, 67);
      }
      &:nth-of-type(2) {
        color: rgb(253, 135, 67);
      }
      &:nth-of-type(3) {
        color: #999;
      }
    }
  }
  /*top image search结束*/
  /*nav开始*/
  .nav {
    background: #fe6b1d;
    overflow: hidden;
  }
  .nav-type {
    width: 216px;
    height: 35px;
    background: #fe6b1d;
    line-height: 35px;
    float: left;
    a {
      text-decoration: none;
      font-size: 14px;
      color: white;
      font-weight: bolder;
      padding-right: 30px;
      width: 180px;
      display: inline-block;
      text-align: center;
      box-sizing: border-box;
      background: url("../static/images/ico_wht.jpg") right center no-repeat;
    }
  }
  .nav-li {
    width: 764px;
    background: #fe6b1d;
    height: 35px;
    float: right;
    li {
      float: left;
      line-height: 35px;
      padding: 0 20px 0 20px;
      background: url("../static/images/ajianjie_03.jpg") no-repeat right center;
      &:nth-last-child(1) {
        background: none;
      }
      a {
        font-size: 14px;
        color: white;
        font-weight: bolder;
        text-decoration: none;
      }
    }
  }
  /*nav结束*/
  /*navcont及二级菜单开始*/
  .navcont {
  }
  .shoplist {
    width: 218px;
    color: black;
    height: 311px;
    float: left;
    border: 1px solid #d7d7d7;
    border-top: none;
    padding-left: 13px;
    position: relative;
    li {
      span {
        display: inline-block;
        position: relative;
        z-index: 10000;
        background: white;
        width: 177px;
      }
    }
    & > li {
      & > span {
        & > a {
          font-size: 16px;
          text-decoration: none;
          width: 167px;
          line-height: 37px;
          display: inline-block;
          padding-right: 10px;
          border-bottom: 1px solid #f4f0f1;
          background: url("../static/images/jiantou.jpg") no-repeat right center;
          &:hover {
            background: none;
          }
        }
      }
      &:nth-last-child(1) {
        span {
          a {
            border-bottom: none;
          }
        }
      }
      ul {
        display: none;
        width: 606px;
        min-height: 312px;
        position: absolute;
        z-index: 999;
        background: white;
        left: 190px;
        top: 0;
        border: 1px solid #fb5008;
        li {
          width: 411px;
          padding-left: 20px;
          border-bottom: 1px dotted #dbdbdb;
          a {
            text-decoration: none;
            color: #545454;
            font-size: 14px;
            line-height: 18px;
            display: inline-block;
            line-height: 28px;
            &:nth-child(1) {
              color: #bf0000;
              font-weight: bolder;
              width: 100px;
              height: 30px;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  /*navcont及二级菜单结束*/
  /*底部开始*/
  .foot-list {
    margin-top: 10px;
    height: 109px;
    padding-bottom: 20px;
    border-bottom: #fe6b1d 3px solid;
    margin-bottom: 14px;
    li {
      width: 245px;
      float: left;
      li {
        width: 120px;
        margin: 5px 0 5px 0;
        a {
          text-decoration: none;
        }
      }
    }
  }
  .foot-left {
    width: 686px;
    float: left;
    p {
      height: 22px;
      img {
        float: none;
        display: inline-block;
      }
    }
    img {
      float: left;
    }
  }
  .foot-right {
    float: right;
  }
  